$grad: linear-gradient(to right ,$color-primary, $color-secondary 80%);
$grad-webkit: -webkit-linear-gradient(to right ,$color-primary, $color-secondary 80%);
$grad-moz: -moz-linear-gradient(to right ,$color-primary, $color-secondary 80%);
$grad-o: -o-linear-gradient(to right ,$color-primary, $color-secondary 80%) ;

@mixin grad($grad){
  background: $grad;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin shadow{
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 22px -9px rgba(0,0,0,0.3);
  -moz-box-shadow: 3px 3px 22px -9px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 22px -9px rgba(0,0,0,0.3);
}
