$font: 'Open Sans', sans-serif;
$font-color: #282828;

$color-primary: tomato;
$color-secondary: coral;
$color-bg:whitesmoke;



$break-xs: 575px;
$break-s: 576px;//landscape phones
$break-m: 768px;//tablet
$break-l: 992px;//desktop
$break-xl: 1200px; //large desktop
