.rss{
  width:100%;
  margin:10px auto;
  padding: 20px 10px;
  border-bottom: 1px solid $color-bg;
  &:hover{
    background: $grad;
    color: white;
    border-radius: $radius;
    @include shadow;
    .pubDate{
      color:$color-bg;
    }
  }
}

.rssItem{
  margin-top:10px;
}
.pubDate{
  padding-top: 10px;
  color:$grey;
  font-weight: 300;
  font-style: italic;
}
