select{
  cursor:pointer;
  display:inline-block;
  font-size:1em;
  margin:0;
  padding:1em 3em;

}
.vinItem{
  display: flex;
  margin:20px 0;
  padding:20px 20px;
  @include shadow;
  &__photo{
    text-align: center;
    padding:0 30px;
    img{
      max-height: 150px;
    }
  }
  &__info{
    padding:0 20px;
  }
  &__id{
    padding-top:5px;
    font-size: .7em;
    color:#a2a2a2;
  }
  &__price{
    font-size: 1.8em;
    font-weight: bold;
    color:$color-primary;
  }
}
