#vin{
  display: flex;
  flex-direction: row;
  flex-grow:1;
  flex-wrap: wrap;
}
.select__cont{
  display: flex;
  flex-direction: row;
}
.pl-1{
  padding-left:1em;
}
.vinItem{
  display: inline-flex;
  flex-direction: row;
  flex-grow:0;
  flex-wrap: wrap;
  width:100%;
  margin:0;
  padding:20px 20px;
  @include shadow;
  &:hover{
    @include glow;
  }
  @media #{$desktop}{
    width:50%;
  }
  @media #{$xldesktop}{
    width:33%;
  }

  a{
    color:$color-primary;
    text-decoration: none;
    padding: 0 10px;
  }
  &__photo{

    width: 30%;
    display: block;
    text-align: center;

    img{
      max-height: 150px;
      max-width: 50px;
      margin-right: 40px;
    }
    @media #{$mobile-l}{
      width: 15%;
    }
    @media #{$desktop}{
      width:10%;
      padding:0 10px;
    }
    @media #{$lgdesktop}{

    }
  }
  &__id{
    display: block;
    text-align: center;
    padding-top:5px;
    font-size: .7em;
    color:$grey;
  }

  &__info{
    padding:0;
    width:70%;
    @media #{$mobile-l}{
      width:60%
    }
    @media #{$desktop}{
      width:70%;
      padding:0 10px 0 30px;
      margin:0 auto;
    }
    h3{
      text-transform: uppercase;
      font-weight: 600;
      font-size:1.2em;
      line-height: 1.5em;

    }
  }
  &__country{
    padding-bottom: 5px;
    font-size: 1em;
    font-style: italic;
    color: lighten($font-color, 20%);
  }
  &__category{
    padding: 8px 0 20px;
    font-size: .9em;
  }
  &__rate{
    font-size: .9em;
  }

  &__small{
    padding-top: 20px;
    font-size:.9em;
    color:$grey
  }

  &__price{
    display: inline-block;
    width:100%;
    margin:1em auto;
    padding:1em 0;
    border:1px solid darken($color-bg, 10%);
    border-radius: $radius;
    text-align: center;
    @media #{$mobile-l}{
      width:20%;
      border:0;
    }
    @media #{$desktop}{
      width:18%;
    }
    &--val{
      display: inline-block;
      color:$color-primary;
      font-size: 1.5em;
      font-weight: 600;
      @media #{$mobile-l}{
        display:block;
        font-size: 1.2em;
        font-weight: bold;
        color:$color-primary;
        padding:.6em 0;
        white-space: pre-line;
        border: 0;
      }
      @media #{$tablet}{
        font-size: 1.5em;
        padding:.3em 0;
      }
    }

    &--tag{
      display: inline-block;
      padding-right:.8em;
      color:$grey;
      font-weight: lighter;
      font-size: .6em;
      @media #{$mobile-l}{
        display:block;
      }
      @media #{$tablet}{
        font-size: .8em;
      }
    }

  }
}

.star-1:before{content:"\2605\2606\2606\2606\2606";}
.star-2:before{content:"\2605\2605\2606\2606\2606";}
.star-3:before{content:"\2605\2605\2605\2606\2606";}
.star-4:before{content:"\2605\2605\2605\2605\2606";}
.star-5:before{content:"\2605\2605\2605\2605\2605";}
.star-null:before{content:"\2606\2606\2606\2606\2606";}

.star-1, .star-2, .star-3, .star-4, .star-5, .star-null {
  color:$color-primary;
  padding-right: 10px;
}

.cat-1{color:#b71c1c};
.cat-2{color:#FFB300};
.cat-3{color:#F48FB1};
