@import 'partials/var', 'partials/mixins', 'partials/vg', 'partials/headings', 'partials/vin';

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: $color-bg;
  font-family: $font;
  font-size: .9em;
}

.header__vg,
.header__vin,
.menu{
  display: block;
  @media (min-width: $break-s){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    vertical-align: baseline;
  }

}

.btn a{

  @media (min-width: $break-s){
    padding: 5px 15px;
  }
  border:1px solid $color-primary;
  border-radius: 5px;
  background-color: white;
  font-size: .8em;
  font-weight: 700;
  color:$color-primary;
  text-decoration: none;
  transition: background-color .5s;
  -webkit-transition:background-color .5s;
  &:hover{
    background-color: tomato;
    color: white;
  }
  /*&::after{
    content: ' \f1cb';
  }
  */

}

/******** BOX ************/
.box{
  width:100vw;
  height:100vh;
  margin:0 auto;

  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 22px -9px rgba(0,0,0,0.3);
  -moz-box-shadow: 3px 3px 22px -9px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 22px -9px rgba(0,0,0,0.3);
  @media (min-width:$break-m){
    width:90vw;
    height:90vh;
    margin: 5% auto;
  }
  @media (min-width: $break-xl){
    width:60vw;
    height:70vh;
  }
}

/******** TABS **********/
label{
  display: inline-block;
  text-align: center;
  padding:30px 30px;
  @media (min-width:321px){
    padding:30px 50px;
  }

  margin:0 0 -1px;
  color:#999;
  font-weight: 300;
  //background-color: white;
  &:hover{
    @include grad($grad);
    border-bottom: 3px solid $color-secondary;
    cursor: pointer;
  }
}

input{
  display: none;
  &:checked + label{
    color:$color-primary;
    @include grad($grad);
    font-weight: 700;
    border-bottom: 3px solid $color-primary;
  }
}

.content{
  display: none;
  border-top: 1px solid #ddd;
}

#tab-01:checked ~ #content-01,
#tab-02:checked ~ #content-02{
  display: block;
  padding:30px;
  background: white;
}


/******* MISC *********/
.selectMulti{
  padding: 20px 30px;
}
