@import 'partials/var', 'partials/mixins', 'partials/vg', 'partials/headings', 'partials/vin', 'partials/select';

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: $color-bg;
  color:$font-color;
  font-family: $font;
  font-size: .9em;
}

.header__vg,
.header__vin,
.menu{
  display: block;
  @media #{$tablet}{
    display: block;
  }
  @media #{$mobile-l}{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.menu{
}

.btn {
  margin-right: 5px;
  button{
    width:100%;
    margin-top:10px;
    padding:15px;
    border:1px solid $color-primary;
    border-radius: 5px;
    background: white;
    font-size: .8em;
    font-weight: 700;
    color:$color-primary;
    text-decoration: none;
    @media #{$mobile-l}{
      padding: 5px 10px;
    }
    &:hover{
      @include bg-grad($grad);
      color: white;
    }
    .fa {
      font-size: 1.2em;
      padding-right: 5px;
      padding-left: 10px;
    }
  }
}
/******** BOX ************/
.box{
  width:100vw;
  height:100vh;
  margin:0 auto;
  background-color: white;
  @include shadow;
  @media #{$tablet}{
    width:90vw;
    height:90vh;
    margin: 5% auto;
  }
  @media #{$lgdesktop}{
    width:80vw;
    height:90vh;
  }
}

/******** TABS **********/
label{
  display: inline-block;
  width:49%;
  margin:0 0 -1px;
  padding:30px 30px;
  color:#999;
  font-weight: 300;
  text-align: center;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    background: white;
    color:$grey;
  }
  &:hover{
    @include grad($grad);
    border-bottom: 3px solid $color-secondary;
    cursor: pointer;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: white;
      color:$color-primary;
    }
  }

  @media (min-width:321px){
    padding:30px 50px;
  }
  @media #{$mobile-l}{
    width:30%;
  }

}

input{
  display: none;
  &:checked + label{
    color:$color-primary;
    @include grad($grad);
    font-weight: 700;
    border-bottom: 3px solid $color-primary;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: white;
      color:$color-primary;
    }
  }
}

.content{
  display: none;
  border-top: 1px solid #ddd;
}

#tab-01:checked ~ #content-01,
#tab-02:checked ~ #content-02{
  display: block;
  padding:30px;
  background: white;
}

.reload{
  color:$color-primary;
  text-decoration: none;

}
