/* line 1, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vg.scss */
.rss {
  width: 100%;
  margin: 10px auto;
  padding: 20px 10px;
  border-bottom: 1px solid whitesmoke;
}

/* line 8, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vg.scss */
.pubDate {
  padding-top: 10px;
  color: #ccc;
  font-weight: 300;
  font-style: italic;
}

/* line 15, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vg.scss */
h3 {
  font-weight: 400;
}

/* line 1, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_headings.scss */
h1 {
  background: linear-gradient(to right, tomato, coral 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 1, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
select {
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  margin: 0;
  padding: 1em 3em;
}

/* line 9, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem {
  display: flex;
  margin: 20px 0;
  padding: 20px 20px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 22px -9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 22px -9px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 22px -9px rgba(0, 0, 0, 0.3);
}

/* line 14, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem__photo {
  text-align: center;
  padding: 0 30px;
}

/* line 17, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem__photo img {
  max-height: 150px;
}

/* line 21, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem__info {
  padding: 0 20px;
}

/* line 23, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem__info h3 {
  font-size: 1.4em;
  line-height: 1.5em;
}

/* line 28, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem__small {
  padding-top: 20px;
  font-size: .9em;
  color: #a2a2a2;
}

/* line 33, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem__id {
  padding-top: 5px;
  font-size: .7em;
  color: #a2a2a2;
}

/* line 38, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem__price {
  font-size: 1.8em;
  font-weight: bold;
  color: tomato;
}

/* line 44, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem__category--red {
  color: tomato;
}

/* line 47, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem__category--blanc {
  color: yellow;
}

/* line 50, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem__category--rose {
  color: pink;
}

/* line 3, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 9, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
body {
  background-color: whitesmoke;
  color: #282828;
  font-family: "Open Sans", sans-serif;
  font-size: .9em;
}

/* line 16, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
.header__vg,
.header__vin,
.menu {
  display: block;
}

@media (min-width: 576px) {
  /* line 16, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
  .header__vg,
  .header__vin,
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    vertical-align: baseline;
  }
}

/* line 29, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
.btn button {
  border: 1px solid tomato;
  border-radius: 5px;
  background-color: white;
  font-size: .8em;
  font-weight: 700;
  color: tomato;
  text-decoration: none;
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
  /*&::after{
    content: ' \f1cb';
  }
  */
}

@media (min-width: 576px) {
  /* line 29, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
  .btn button {
    padding: 5px 10px;
  }
}

/* line 43, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
.btn button:hover {
  background-color: tomato;
  color: white;
}

/* line 47, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
.btn button .fa {
  font-size: 1.2em;
  padding-right: 5px;
  padding-left: 10px;
}

/******** BOX ************/
/* line 60, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
.box {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 22px -9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 22px -9px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 22px -9px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  /* line 60, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
  .box {
    width: 90vw;
    height: 90vh;
    margin: 5% auto;
  }
}

@media (min-width: 1200px) {
  /* line 60, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
  .box {
    width: 70vw;
    height: 70vh;
  }
}

/******** TABS **********/
/* line 79, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
label {
  display: inline-block;
  text-align: center;
  padding: 30px 30px;
  margin: 0 0 -1px;
  color: #999;
  font-weight: 300;
}

@media (min-width: 321px) {
  /* line 79, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
  label {
    padding: 30px 50px;
  }
}

/* line 91, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
label:hover {
  background: linear-gradient(to right, tomato, coral 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 3px solid coral;
  cursor: pointer;
}

/* line 98, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
input {
  display: none;
}

/* line 100, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
input:checked + label {
  color: tomato;
  background: linear-gradient(to right, tomato, coral 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  border-bottom: 3px solid tomato;
}

/* line 108, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
.content {
  display: none;
  border-top: 1px solid #ddd;
}

/* line 113, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
#tab-01:checked ~ #content-01,
#tab-02:checked ~ #content-02 {
  display: block;
  padding: 30px;
  background: white;
}

/******* MISC *********/
/* line 122, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
.selectMulti {
  height: 25px;
  padding: 20px 30px;
}

/*# sourceMappingURL=../css/style.map */