/* line 1, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vg.scss */
.rss {
  width: 100%;
  margin: 10px auto;
  padding: 20px 10px;
  border-bottom: 1px solid whitesmoke;
}

/* line 6, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vg.scss */
.rss:hover {
  background: linear-gradient(to right, tomato, coral 80%);
  color: white;
  border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 22px -9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 22px -9px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 22px -9px rgba(0, 0, 0, 0.3);
}

/* line 11, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vg.scss */
.rss:hover .pubDate {
  color: whitesmoke;
}

/* line 17, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vg.scss */
.pubDate {
  padding-top: 10px;
  color: #a2a2a2;
  font-weight: 300;
  font-style: italic;
}

/* line 1, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_headings.scss */
h1 {
  background: linear-gradient(to right, tomato, coral 80%);
  background: -o-linear-gradient(to right, tomato, coral 80%);
  background: -moz-linear-gradient(to right, tomato, coral 80%);
  background: -webkit-linear-gradient(to right, tomato, coral 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding-bottom: 20px;
  display: none;
}

@media (min-width: 576px) {
  /* line 1, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_headings.scss */
  h1 {
    display: inline;
    text-align: left;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 1, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_headings.scss */
  h1 {
    background: white;
    color: tomato;
  }
}

/* line 17, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_headings.scss */
h3 {
  font-weight: 400;
}

/* line 1, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
#vin {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
}

/* line 7, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.select__cont {
  display: flex;
  flex-direction: row;
}

/* line 11, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.pl-1 {
  padding-left: 1em;
}

/* line 14, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem {
  display: inline-flex;
  flex-direction: row;
  flex-grow: 0;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px 0;
  padding: 20px 20px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 22px -9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 22px -9px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 22px -9px rgba(0, 0, 0, 0.3);
}

/* line 20, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem:hover {
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 18px -5px rgba(255, 99, 71, 0.5);
  -moz-box-shadow: 3px 3px 18px -5px rgba(255, 99, 71, 0.5);
  box-shadow: 3px 3px 18px -5px rgba(255, 99, 71, 0.5);
}

@media (min-width: 992px) {
  /* line 14, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
  .vinItem {
    width: 50%;
  }
}

@media (min-width: 1920px) {
  /* line 14, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
  .vinItem {
    width: 33%;
  }
}

/* line 32, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem a {
  color: tomato;
  text-decoration: none;
  padding: 0 10px;
}

/* line 37, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem__photo {
  text-align: center;
  padding: 0 10px;
}

/* line 41, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem__photo img {
  max-height: 150px;
  max-width: 50px;
}

@media (min-width: 992px) {
  /* line 37, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
  .vinItem__photo {
    padding: 0 30px;
  }
}

/* line 50, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem__info {
  padding: 0 20px 0 0;
  width: 70%;
}

@media (min-width: 992px) {
  /* line 50, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
  .vinItem__info {
    width: 50%;
  }
}

/* line 56, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem__info h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.5em;
}

/* line 64, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem__country {
  padding-bottom: 5px;
  font-size: 1em;
  font-style: italic;
  color: #5b5b5b;
}

/* line 70, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem__category {
  padding: 8px 0 20px;
  font-size: .9em;
}

/* line 74, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem__rate {
  font-size: .9em;
}

/* line 78, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem__small {
  padding-top: 20px;
  font-size: .9em;
  color: #a2a2a2;
}

/* line 83, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem__id {
  padding-top: 5px;
  font-size: .7em;
  color: #a2a2a2;
}

/* line 88, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem__price {
  width: 100%;
  margin: .3em auto;
  padding: .6em 0;
  border-radius: 5px;
  color: tomato;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

/* line 97, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.vinItem__price::before {
  content: "Price:";
  display: inline;
  font-weight: lighter;
  font-size: .7em;
}

@media (min-width: 576px) {
  /* line 88, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
  .vinItem__price {
    width: 30%;
    font-size: 1.8em;
    font-weight: bold;
    color: tomato;
    padding: .6em 0;
  }
}

/* line 115, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.star-1:before {
  content: "\2605\2606\2606\2606\2606";
}

/* line 116, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.star-2:before {
  content: "\2605\2605\2606\2606\2606";
}

/* line 117, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.star-3:before {
  content: "\2605\2605\2605\2606\2606";
}

/* line 118, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.star-4:before {
  content: "\2605\2605\2605\2605\2606";
}

/* line 119, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.star-5:before {
  content: "\2605\2605\2605\2605\2605";
}

/* line 120, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.star-null:before {
  content: "\2606\2606\2606\2606\2606";
}

/* line 122, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.star-1, .star-2, .star-3, .star-4, .star-5, .star-null {
  color: tomato;
  padding-right: 10px;
}

/* line 127, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.cat-1 {
  color: #b71c1c;
}

/* line 128, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.cat-2 {
  color: #FFB300;
}

/* line 129, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_vin.scss */
.cat-3 {
  color: #F48FB1;
}

/* line 1, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_select.scss */
.styled-select {
  display: inline-block;
  background-color: white;
  color: #a2a2a2;
  cursor: pointer;
  font-size: 1.1em;
  margin-bottom: 1.5em;
  padding: .3em;
  position: relative;
  border: solid 1px #a2a2a2;
  border-radius: 5px;
  height: 2.3em;
  width: 8em;
}

/* line 16, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_select.scss */
.styled-select:before {
  font-family: "FontAwesome";
  border-width: 0 0 0 1px;
  content: '\f103';
  color: tomato;
  font-size: 1.1em;
  padding-left: .25em;
  position: absolute;
  pointer-events: none;
  right: .35em;
}

/* line 28, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_select.scss */
#pages {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  top: 2.3em;
  left: 0px;
  z-index: 100;
  display: none;
  width: 8em;
  margin: 1px;
  padding: 0 2em;
  background-color: white;
  border: none;
  cursor: pointer;
  color: #282828;
  font-family: "Open Sans", sans-serif;
  font-size: .8em;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 22px -9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 22px -9px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 22px -9px rgba(0, 0, 0, 0.3);
  outline-color: rgba(255, 99, 71, 0.2);
}

/* line 51, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_select.scss */
.selectedPage {
  padding-left: 1em;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: .75em;
  font-weight: 400;
}

/* line 60, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_select.scss */
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  padding: 15px;
  border: 1px solid tomato;
  border-radius: 5px;
  background-color: white;
  font-size: .8em;
  font-weight: 700;
  color: tomato;
  text-decoration: none;
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
}

@media (min-width: 576px) {
  /* line 60, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_select.scss */
  select {
    padding: 5px 10px;
  }
}

/* line 80, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_select.scss */
select:hover {
  background-color: tomato;
  color: white;
}

/* line 84, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/partials/_select.scss */
select .fa {
  font-size: 1.2em;
  padding-right: 5px;
  padding-left: 10px;
}

/* line 3, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 9, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
body {
  background-color: whitesmoke;
  color: #282828;
  font-family: "Open Sans", sans-serif;
  font-size: .9em;
}

/* line 16, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
.header__vg,
.header__vin,
.menu {
  display: block;
}

@media (min-width: 576px) {
  /* line 16, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
  .header__vg,
  .header__vin,
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    vertical-align: baseline;
  }
}

/* line 29, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
.btn {
  margin-right: 5px;
}

/* line 31, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
.btn button {
  width: 100%;
  padding: 15px;
  border: 1px solid tomato;
  border-radius: 5px;
  background: white;
  font-size: .8em;
  font-weight: 700;
  color: tomato;
  text-decoration: none;
}

@media (min-width: 576px) {
  /* line 31, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
  .btn button {
    padding: 5px 10px;
  }
}

/* line 44, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
.btn button:hover {
  background: linear-gradient(to right, tomato, coral 80%);
  background: -o-linear-gradient(to right, tomato, coral 80%);
  background: -moz-linear-gradient(to right, tomato, coral 80%);
  background: -webkit-linear-gradient(to right, tomato, coral 80%);
  color: white;
}

/* line 51, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
.btn button .fa {
  font-size: 1.2em;
  padding-right: 5px;
  padding-left: 10px;
}

/******** BOX ************/
/* line 59, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
.box {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 22px -9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 22px -9px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 22px -9px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  /* line 59, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
  .box {
    width: 90vw;
    height: 90vh;
    margin: 5% auto;
  }
}

@media (min-width: 1200px) {
  /* line 59, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
  .box {
    width: 80vw;
    height: 90vh;
  }
}

/******** TABS **********/
/* line 77, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
label {
  display: inline-block;
  width: 49%;
  margin: 0 0 -1px;
  padding: 30px 30px;
  color: #999;
  font-weight: 300;
  text-align: center;
}

/* line 86, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
label:hover {
  background: linear-gradient(to right, tomato, coral 80%);
  background: -o-linear-gradient(to right, tomato, coral 80%);
  background: -moz-linear-gradient(to right, tomato, coral 80%);
  background: -webkit-linear-gradient(to right, tomato, coral 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 3px solid coral;
  cursor: pointer;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 77, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
  label {
    background: white;
    color: tomato;
  }
}

@media (min-width: 321px) {
  /* line 77, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
  label {
    padding: 30px 50px;
  }
}

@media (min-width: 576px) {
  /* line 77, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
  label {
    width: 30%;
  }
}

/* line 103, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
input {
  display: none;
}

/* line 105, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
input:checked + label {
  color: tomato;
  background: linear-gradient(to right, tomato, coral 80%);
  background: -o-linear-gradient(to right, tomato, coral 80%);
  background: -moz-linear-gradient(to right, tomato, coral 80%);
  background: -webkit-linear-gradient(to right, tomato, coral 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  border-bottom: 3px solid tomato;
}

/* line 113, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
.content {
  display: none;
  border-top: 1px solid #ddd;
}

/* line 118, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
#tab-01:checked ~ #content-01,
#tab-02:checked ~ #content-02 {
  display: block;
  padding: 30px;
  background: white;
}

/* line 125, /Users/magdalenagorecka/GitHub/1709-STP/assets/scss/style.scss */
.reload {
  color: tomato;
  text-decoration: none;
}

/*# sourceMappingURL=../css/style.map */